*{
    margin: 0;
    padding: 0;
}

.custom-button {
    background-color: #15aa3500;
    border: none;
    color: #E5AE09;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 0px;
    cursor: pointer;
    width: 50% 50% 50%;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
  }
  .fundo{
    width: 100%;
  }
  
  .fundo {
    width: 100%;
  }

  .escola-titulo {
    color: #E5AE09;
    text-align: center;
  }

.escola-imagem{
    width: 100%;
}
  .custom-button:hover {
    background-color: #E5AE09;
  }

  .center-container{
    text-align: center;
    background-color: #15aa3500;
  }
.rodape-imagem {
    width: 100%;
}